<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <meta charset="UTF-8" />
        <title>Uutiset</title>
        
        <style>
            body {
                background-color: #979A9A;
                margin: 0;
            }
            .header {
                background-color: #f1f1f1;
                padding: 20px;
                text-align: center;
            }

        </style>
        
    </head>
    
    <body>
        <h1>Uutiset</h1>
            <ul>
                <h1>Viimeisimmät</h1>
                <li th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{id}(id=${uutinen.id})}">
                        <span th:text="${uutinen.time + ' ' +uutinen.otsikko}">Otsikko</span> <br/>
                    </a>
                    <span th:text="${uutinen.ingressi}">Ingressi</span><br/> 
                        <img th:src="@{/uutinen/{id}/content(id=${uutinen.id})}"/>
               
                </li>
            </ul>
        
            <div class="column side">
            <ul
                <h1><strong>Uutiset aikajärjestyksen mukaan</strong></h1>
                <br/>
                <br/>
            <li th:each="uutinen : ${uutisetjulkaisuajanperusteella}">
                <a th:href="@{/uutinen/{id}(id=${uutinen.id})}">
                    <span th:text="${uutinen.aika + ' ' +uutinen.otsikko}">Otsikko</span> <br/>
                </a>
                <span th:text="${uutinen.ingressi}">Ingressi</span><br/> 
                     
            
            </li>
        </ul>
        </div>
    </body>
    
    
</html>
